/* styles.css */

/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .site-header {
      text-align: center;
  }

  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 0;
      top: 0; /* Reset top for relative positioning */
  }

  .sidebar ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .sidebar ul li {
      padding: 5px 10px;
  }

  .content {
      margin-left: 0;
      padding-top: 80px; /* Adjust for header height */
  }

  p, h2, h1, h3 , pre {
      padding: 0 5px; /* Adjust padding for smaller screens */
      font-size: 16px; /* Optional: Adjust font size for readability on smaller screens */
  }

  img {
      max-width: 100%;
      height: auto;
  }

  .pagination a {
    padding: 15px 25px; /* Adjust padding for better touch targets */
    font-size: 20px; /* Increase font size for readability */
  }
  
}

.pagination {
  display: inline-block;
  margin: 20px 0;
}

.pagination a {
  color: black;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color .3s;
  font-size: 18px; /* Increase font size */
  border: 1px solid #ddd;
  margin: 0 5px;
  border-radius: 5px; /* Optional: Add rounded corners */
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.site-header {
  background-color: #ffffff;
  color: #000;
  padding: 10px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  width: 250px;
  background-color: #73d370;
  color: #000;
  height: calc(100vh - 60px); /* Adjust height to account for header */
  padding-top: 20px;
  position: fixed;
  top: 60px; /* Adjust for header height */
  left: 0;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: #000;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Adjust content margin to make space for the fixed sidebar */
  padding-top: 80px; /* Adjust for header height */
  transition: all 0.3s ease;
}

p, h2, h1, h3 , pre {
  padding: 0 5px; /* Adjust padding for smaller screens */
  font-size: 16px; /* Optional: Adjust font size for readability on smaller screens */
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  white-space: pre-wrap; /* Allow preformatted text to wrap */
  word-wrap: break-word; /* Ensure long words break */
}