/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    

  }
  
  .container {
    display: flex;
  }

  .page-wrap { 
    width: 250px; 
    margin: 15px auto; 
    position: relative; 
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }